<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fan Share Fun</title>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/landing.css")">
    <script type='text/javascript' src='@routes.Assets.versioned("javascripts/semantic.min.js")'></script>
    <link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/semantic.min.css")">

</head>
<body class="landing">
  <section id="banner">
      <h1 class="ui header inverted">
          最高の仲間と最高のライブを
          <div class="sub header">Best Live With Your Best Friends.</div>

          <div class="ui basic center aligned segment">
              <a href="/login" class="ui twitter button"><i class="twitter icon"></i> Sign In with Twitter </a>
          </div>

      </h1>
  </section>

  <section class="wrapper style1">
      <div class="ui container">

      <h2 class="ui header center aligned inverted">
          参加するイベントをシェアして、みんなでライブに参加しよう
          <div class="sub header">イベントをシェアしてみんなで楽しさを共有しよう</div>
      </h2>

          <p></p>

          <div class="ui grid">
              <div class="three column row">
                  <div class="column center aligned">
                      <i class="calendar icon big"></i> Calendar
                      <p>イベント管理</p>
                  </div>
                  <div class="column center aligned">
                      <i class="comments outline icon big"></i> Conversation
                      <p>会話</p>
                  </div>
                  <div class="column center aligned">
                      <i class="ticket icon big"></i> Ticket
                      <p>チケット管理</p>
                  </div>
              </div>
          </div>
      </div>
  </section>


<!--

  <section class="wrapper style2">
      <div class="ui container">
          <i class="comments outline icon big circular"></i>
      </div>
  </section>

  <section class="wrapper style3">
      <div class="ui container">
          <i class="find icon big"></i>
      </div>
  </section>

  <section class="wrapper style4">
      <div class="ui container">
          <i class="ticket icon big"></i>
      </div>
  </section>

-->


</body>
</html>